
{%- assign current_lang = page.lang -%}
{%- if current_lang == nil -%}
  {%- if page.url contains '/en/' -%}
    {%- assign current_lang = 'en' -%}
  {%- elsif page.url contains '/hu/' -%}
    {%- assign current_lang = 'hu' -%}
  {%- else -%}
    {%- assign current_lang = site.default_language -%}
  {%- endif -%}
{%- endif -%}

{%- comment -%}
Filter pages by current language
{%- endcomment -%}
{%- assign lang_pages = "" | split: "" -%}
{%- for p in include.pages -%}
  {%- if current_lang == 'en' -%}
    {%- if p.url contains '/en/' or p.url == '/en/index.html' or p.url == '/en/' -%}
      {%- assign lang_pages = lang_pages | push: p -%}
    {%- endif -%}
  {%- elsif current_lang == 'hu' -%}
    {%- if p.url contains '/hu/' or p.url == '/hu/index.html' or p.url == '/hu/' -%}
      {%- assign lang_pages = lang_pages | push: p -%}
    {%- endif -%}
  {%- else -%}
    {%- unless p.url contains '/en/' or p.url contains '/hu/' -%}
      {%- if current_lang == site.default_language -%}
        {%- assign lang_pages = lang_pages | push: p -%}
      {%- endif -%}
    {%- endunless -%}
  {%- endif -%}
{%- endfor -%}

{%- comment -%}
  Get all pages with titles, excluding those marked as nav_exclude
{%- endcomment -%}
{%- assign nav_pages = lang_pages
      | where_exp: "item", "item.title != nil"
      | where_exp: "item", "item.nav_exclude != true" -%}

{%- comment -%}
  Separate home pages from other pages
{%- endcomment -%}
{%- assign home_pages = nav_pages
      | where_exp: "item", "item.url contains 'index.html' or item.url == '/en/' or item.url == '/hu/' or item.url == '/'" -%}
{%- assign other_pages = nav_pages
      | where_exp: "item", "item.url != '/en/index.html' and item.url != '/hu/index.html' and item.url != '/en/' and item.url != '/hu/' and item.url != '/'" -%}

{%- comment -%}
  Sort pages by nav_order (if specified) then by title
{%- endcomment -%}
{%- assign sorted_pages = "" | split: "" -%}

{%- for home_page in home_pages -%}
  {%- assign sorted_pages = sorted_pages | push: home_page -%}
{%- endfor -%}

{%- comment -%}
  Sort other pages by nav_order, then by title
{%- endcomment -%}
{%- assign pages_with_order = other_pages | where_exp: "item", "item.nav_order != nil" | sort: "nav_order" -%}
{%- assign pages_without_order = other_pages | where_exp: "item", "item.nav_order == nil" -%}

{%- if site.nav_sort == 'case_insensitive' -%}
  {%- assign pages_without_order = pages_without_order | sort_natural: "title" -%}
{%- else -%}
  {%- assign pages_without_order = pages_without_order | sort: "title" -%}
{%- endif -%}

{%- assign sorted_pages = sorted_pages | concat: pages_with_order | concat: pages_without_order -%}

{%- comment -%}
  Simple navigation list - no nesting, just a flat list of all pages
{%- endcomment -%}
<ul class="nav-list">
{%- for nav_page in sorted_pages -%}
    {%- unless nav_page.path contains "404" or nav_page.path contains "progress" -%}
    <li class="nav-list-item{% if page.url == nav_page.url %} active{% endif %}">
        <a 
            href="{{ nav_page.url | relative_url }}" 
            class="nav-list-link{% if page.url == nav_page.url %} active{% endif %}">
            {{ nav_page.title }}
        </a>
    </li>
    {%- endunless -%}
{%- endfor -%}
</ul>

{%- comment -%}
  Add language switcher at the bottom of navigation
{%- endcomment -%}
<div class="nav-language-switcher">
  {% include language-switcher.html %}
</div>
