---
layout: page
---
<!-- This widget works to post in the global feed with a tag

<script
src="https://nostri.chat/public/bundle.js"
data-chat-type="GLOBAL"
data-chat-tags="bitcoin"
data-relays="wss://relay.f7z.io,wss://nos.lol,wss://relay.nostr.band"
></script>

-->

<!-- This will appear in Amethyst on the Messages tab in the "New Requests" section -->

<script
src="https://nostri.chat/public/bundle.js"
data-chat-type="DM"
data-website-owner-pubkey="d04ecf33a303a59852fdb681ed8b412201ba85d8d2199aec73cb62681d62aa90"
data-relays="wss://relay.damus.io,wss://relay.btcplebs.com/nostrrelay/asdf1234"
></script>


<!-- The NIP-28 group chat widget will work as soon as Pablo merges the group chat fix:
https://github.com/pablof7z/nostr-chat-widget/pull/6

<script
src="https://nostri.chat/public/bundle.js"
data-chat-type="GROUP"
data-chat-id="b69947cbebde46b739173ad1373fec9f5dc4e4e30cc2fe209a2a5011795e05a8"
data-relays="wss://relay.damus.io,wss://relay.btcplebs.com/nostrrelay/asdf1234"
></script>

-->

<link rel="stylesheet" href="https://nostri.chat/public/bundle.css">


{{ content }}
